body {
	font-family: "IBM Plex Sans", sans-serif;
}

p {
	font-family: "IBM Plex Serif", serif;
	font-size: var(--font-size-m);
	line-height: var(--line-height);
	color: var(--color-dark-grey);
}

cite {
	color: var(--color-light-grey);
}

h2 {
	font-size: var(--font-size-l);
	font-weight: 700;
	color: #000;
}

section {
	margin: var(--spacing-m) 0;
	/* outline: 1px solid red; */
	display: flex;
	flex-direction: column;
	gap: var(--spacing-s);
}

dd {
	font-family: "IBM Plex Serif", serif;
}

dl {
	display: flex;
	flex-direction: column;
	gap: var(--spacing-s);
}

dt {
	font-weight: 700;
}
dd {
	font-size: var(--font-size-m);
	line-height: var(--line-height);
}

blockquote {
	/* margin: 2rem 0; */
	color: var(--color-quote);
	line-height: var(--line-height);
	font-weight: 600;
	font-style: italic;
}

body {
	max-width: 720px;
	margin: 0 auto;
}

img {
	width: 100%;
}

figcaption {
	color: var(--color-light-grey);
	font-family: "IBM Plex Sans";
	font-size: var(--font-size-m);
	margin: var(--spacing-s) 0;
	text-align: center;
}

table {
	font-family: arial, sans-serif;
	border-collapse: collapse;
	width: 100%;
	margin: var(--spacing-m) 0 var(--spacing-l);
}

td,
th {
	border: 2px solid var(--color-lighter-grey);
	text-align: left;
	padding: var(--spacing-xs);
}
tr:nth-child(even) {
	background-color: var(--color-lighter-grey);
}
